<h1>Show Subject</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @subject.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @subject.description %>
  </li>

  <li>
    <strong>Color:</strong>
    <%= @subject.color %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.subject_path(@conn, :edit, @subject), data: [test: "edit-link"] %></span>
<span><%= link "Back", to: Routes.subject_path(@conn, :index), data: [test: "back-link"] %></span>
